.cen {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
img{
    height:30px;
    width:30px;
}
.but, .dob, .sny, .prm {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    color: white;
    text-align: center;
    border: 1px solid #60bb65;
    padding: 5px;
    background: linear-gradient(to top, #459646, #70d077);
    box-shadow: 0px 0px 14px -3px #000000;
}
    .but, .dob, .sny, .prm:active {
        background: linear-gradient(to top, #70d077, #459646);
    }

.del {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    color: white;
    text-align: center;
    border: 1px solid #60bb65;
    padding: 5px;
    background: linear-gradient(to top, #981010, #d01a1a);
    box-shadow: 0px 0px 14px -3px #000000;
}

    .del:active {
        background: linear-gradient(to top, #d01a1a, #981010);
    }